.test-container {
	width: 300px;

	display: flex;

	height: 500px;

	background: red;

	box-sizing: content-box;

	box-shadow: none;

	fill: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
