/* 行号插件样式 */
/* 复制插件样式 */
div.code-toolbar > .toolbar {
  top: 16px;
  right: 20px;
  opacity: 1;
  color: #fff;
}

div.code-toolbar > .toolbar button {
  background-color: transparent;
  box-shadow: none;
  font-weight: 600;
  color: #fff;
}
